+++
title = "Screenshots"
[menu.main]
    parent = "Discover"
    name   = "Screenshots"
	weight = 30
+++

<style>
.thumb {
	height: 300px;
	margin-bottom: 2px;
}

.thumb img {
	height: 250px;
}
</style>

<p>
These are various screenshots of KiCad and <i>some</i> of its features. Click on the thumbnails below to see bigger images.
</p>

<div class="row">
	<div class="col-lg-12">
		<h3>Eeschema</h3>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_component_options.png" class="thumbnail">
			<img class="ratio" src="eeschema_component_options.png" alt="Screenshot showing component context menu with various manipulation options">
			Component Options
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_footprint_pick.png" class="thumbnail">
			<img class="ratio" src="eeschema_footprint_pick.png" alt="Screenshot showing footprint picker for schematic symbols with preview window">
			Footprint Picker
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_erc.png" class="thumbnail">
			<img class="ratio" src="eeschema_erc.png" alt="Screenshot showing electrical rules checker ">
			Electrical Rules Checker
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_component_edit.png" class="thumbnail">
			<img class="ratio" src="eeschema_component_edit.png" alt="Screenshot showing component pin editing dialog">
			Component Editor
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_library_browser.png" class="thumbnail">
			<img class="ratio" src="eeschema_library_browser.png" alt="Screenshot showing schematic library browser window">
			Library Browser
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_colors.png" class="thumbnail">
			<img class="ratio" src="eeschema_colors.png" alt="Screenshot showing schematic sheet color customization">
			Color Customization
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_annotate.png" class="thumbnail">
			<img class="ratio" src="eeschema_annotate.png" alt="Screenshot showing schematic annotation dialog">
			Annotate
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="eeschema_hotkeys.png" class="thumbnail">
			<img class="ratio" src="eeschema_hotkeys.png" alt="Screenshot showing hotkeys editor">
			Hotkeys Editor
		</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3>PcbNew</h3>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="pcbnew.png" class="thumbnail">
			<img class="ratio" src="pcbnew.png" alt="Screenshot showing hackRF PCB layout loaded in pcbnew">
			Editor
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="3dviewer.jpg" class="thumbnail">
			<picture>
				<source type="image/webp" srcset="3dviewer.webp">
				<img class="ratio" src="3dviewer.jpg" alt="Screenshot of 3D Viewer with hackRF PCB Layout rendered in 3D">
			</picture>
			3D Viewer
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="pcbnew_drc.png" class="thumbnail">
			<img class="ratio" src="pcbnew_drc.png" alt="Screenshot showing Design Rules dialog">
			Design Rules
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="pcbnew_plot.png" class="thumbnail">
			<img class="ratio" src="pcbnew_plot.png" alt="Screenshot showing PCB Plot options">
			Plot
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="pcbnew_languages.png" class="thumbnail">
			<img class="ratio" src="pcbnew_languages.png" alt="Screenshot showing interface language options">
			Language Options
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="pcbnew_python.png" class="thumbnail">
			<img class="ratio" src="pcbnew_python.png" alt="Screenshot showing Python scripting console">
			Python Scripting
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="pcbnew_hotkeys.png" class="thumbnail">
			<img class="ratio" src="pcbnew_hotkeys.png" alt="Screenshot showing pcbnew hotkeys editor">
			Hotkeys Editor
		</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3>Extra Tools</h3>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="bitmapconverter.png" class="thumbnail">
			<img class="ratio" src="bitmapconverter.png" alt="Screenshot showing Bitmap to Schematic or Pcb object converter">
			Bitmap to Component Converter
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="calc_regulator.png" class="thumbnail">
			<img class="ratio" src="calc_regulator.png" alt="Screenshot showing linear regulator calculator utility">
			Calculator Regulator
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="calc_rf.png" class="thumbnail">
			<img class="ratio" src="calc_rf.png" alt="Screenshot showing RF calculator utilities">
			Calculator RF Attenuator
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="page_edit.png" class="thumbnail">
			<img class="ratio" src="page_edit.png" alt="Screenshot showing page frame/layout editing interface">
			Page Layout Editor
		</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3>Cross-platform comparison</h3>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="mint_kicad.png" class="thumbnail">
			<img class="ratio" src="mint_kicad.png" alt="Screenshot showing KiCad on Linux Mint for comparison">
			KiCad Linux-Mint
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="windows_kicad.png" class="thumbnail">
			<img class="ratio" src="windows_kicad.png" alt="Screenshot showing KiCad on Windows for comparison">
			KiCad Windows
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="mint_eeschema.png" class="thumbnail">
			<img class="ratio" src="mint_eeschema.png" alt="Screenshot showing Eeschema On Linux Mint for comparison">
			Eeschema Linux-Mint
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="windows_eeschema.png" class="thumbnail">
			<img class="ratio" src="windows_eeschema.png" alt="Screenshot showing Eeschema on Windows for comparison">
			Eeschema Windows
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="mac_eeschema.png" class="thumbnail">
			<img class="ratio" src="mac_eeschema.png" alt="Screenshot showing Eeschema on macOS for comparison">
			Eeschema macOS
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="mint_pcbnew.png" class="thumbnail">
			<img class="ratio" src="mint_pcbnew.png" alt="Screenshot showing Pcbnew on Linux Mint for comparison">
			PcbNew Linux Mint
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="windows_pcbnew.png" class="thumbnail">
			<img class="ratio" src="windows_pcbnew.png" alt="Screenshot showing Pcbnew on Windows for comparison">
			PcbNew Windows
		</a>
	</div>
	<div class="col-md-6 col-xs-12 col-sm-6 thumb">
		<a href="mac_pcbnew.png" class="thumbnail">
			<img class="ratio" src="mac_pcbnew.png" alt="Screenshot showing Pcbnew on macOS for comparison">
			PcbNew macOS
		</a>
	</div>
</div>
